body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:"header header"
                        "intro faq"
                        "article faq"
                        "footer footer";
    grid-column-gap: 15px;
}
div#outer {
    display: inline-grid;
    grid-template-rows: 125px 150px;
    grid-template-columns:100px
}
outline{
    outline-width: medium;
    outline-color: black;
    outline-style: dashed;
}

body>header { 
    grid-row: 1;
    grid-column: 1/-1;
}
body > article {grid-area: intro;}
body > aside {grid-area: faq;}
body > section { grid-area: article;}
body > footer {grid-area: footer;}

html
{
    background-color:lightcyan;
}
section
{
    display: grid;
    grid-template-columns: repeat(2,1fr)
}
section > h1 
{
grid-area: 1/1/;
font-family: cursive
}
header{background-color:blanchedalmond;
}
intro {
    font-size: 1.5em;
    text-align: center;
    font-family: cursive;
}
faq{
    font-size: 1.5em;
    text-align: center;
    font-family: cursive;
}
h1 {
border:0;
font-family:monospace;
color:white;
text-align: center;
font-size:2.2em;
letter-spacing: 0.1em;
}
nav > ul 
{
text-emphasis-color: antiquewhite; 
display: inline;
padding-left: 50px;
list-style-type:none;
text-align: left;
width:75%;
font-size: 15px;
font-family:serif;
font-weight: normal;
letter-spacing: 8px;
border-style: none;
}
body >* {
    border-style: ridge;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing:content-box;
  border: none;
  background-color: blanchedalmond;
  color: black;
}
div.gallery {
  display:table;
  border: 1px solid #ccc;
  list-style-image: inherit;
}
div.gallery img {
    display:table;
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing:content-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

clearfix:after {
  content:"";
  display:table;
  clear: both;
}
section >* { 
    outline: 2px dashed black;
}
footer 
{
color: black;
font-size: 20px;
display:inline;
text-align: center;
}
